.screen {
  position: relative;
  // height: 100%;
  // overflow: hidden;

  &[data-screen="meta"] {
    background: #181518;
    color: #504f58;
  }

  &[data-screen="tracklist"] {
    background: #dce0e0;
    color: #222;
  }
}

.screen-wrapper {
  position: relative;
  transition-property: top;
  overflow: hidden;
}

.screen-wrapper-padded {
  padding: 5% 10%;
}

@include grid-respond(12, 15) {
  .screen-wrapper-padded {
    padding: 7.5% 10%;
  }
}

@include grid-respond(0, 12) {
  .screen-wrapper-padded {
    padding: 10% 10%;
  }
}

@include grid-respond(0, 9) {
  .screen-wrapper {
    position: relative;
  }
}
