.screen {
  position: relative;
  // height: 100%;
  // overflow: hidden;

  &[data-screen="meta"] {
    background: #181518;
    color: #504f58;
  }

  &[data-screen="tracklist"] {
    background: #dce0e0;
    color: #222;
  }

  &.is-floating {
    .screen-wrapper-padded {
      padding: 0 10%;
    }

    .screen-wrapper {
      position: absolute;
    }
  }
}

.screen-wrapper {
  position: relative;
  transition-property: top;
  overflow: hidden;
}

.screen-wrapper-padded {
  padding: 10%;
}

.screen-stretch {
  height: 100%;
}

//
// .screen.is-floating {
//   padding: 0 10%;
// }
//
// @include grid-respond(6, 9) {
//   .screen {
//     padding: 10px 10%;
//     &.is-floating { padding: 0 10%; }
//   }
// }
//
@include grid-respond(0, 9) {
  .screen-wrapper {
    position: relative;
  }
}
