.slider {
  position: relative;
  height: 400px;
}


.slider-track {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translate3d(0, -104%, 0);
  transition-property: transform, opacity;

  pointer-events: none;

  &.is-active {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
    
    pointer-events: auto;

    & ~ .slider-track {
      transform: translate3d(0, 104%, 0);
    }
  }
}
