.slider {
  position: relative;
  // height: 400px;
  transition-property: height;
  // transition-duration: 1s;

}

.slider-wrapper {
  position: relative;
  overflow: visible;
}


.slider-track {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  opacity: 0;
  transform: translate3d(0, -200px, 0);
  transition-property: transform, opacity;
  transition-duration: 0.5s, 0.25s;

  pointer-events: none;

  &.is-active {
    position: relative;

    z-index: 5;
    transform: translate3d(0, 0%, 0);
    opacity: 1;

    pointer-events: auto;

    & ~ .slider-track {
      transform: translate3d(0, 200px, 0);
    }
  }
}

@include grid-respond(0, 9) {
  .slider-track {
    transition-duration: 0.5s, 0.75s;
    transition-delay: 0.5s, 0.25s;
    transform: translate3d(-105%, 0, 0);

    &.is-active {
      transform: translate3d(0, 0%, 0);

      & ~ .slider-track {
        transform: translate3d(105%, 0, 0);
      }
    }
  }
}
