.text-large { font-size: 18px; }
.text-small { font-size: 12px; }

.text-highlight { color: white; }

.text-dark-blue { color: #504f58; }
.text-dark-red { color: #6c605c; }
.text-dark-green { color: #51534d; }

.text-left { text-align: left; }
.text-right { text-align: right; }
